#root {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #000000;
  color:#715846;  
}

.body{
  background-color: #000000;
  padding-bottom: 40px;
}

a, a:visited, a:active{
  color:#de8e49;
}

a:hover{
  color: #8c327e;
}

.marquee{
  width:100%;
  background-color: #000000;
  color: #efc54d;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  #warning{
    color:red;
    font-weight: bold;
  }
}

.marquee p{
  font-size: calc(15px + 0.7vw);
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee{
  0% {transform: translate(0,0);}
  100% {transform: translate(-100%,0);}
}

#main-logo{
  max-width: 70%;
  min-width: 450px;
}

nav > *{
  display:inline-block;
  margin: 0px 5px 10px 20px;
  font-size: calc(15px + 1.5vw);
}

.user-message{
  font-size: calc(12px + 0.5vw);
}

.home, .saved, .artwork-page{
  background-color: #191b14;
  padding: 10px 0;
  width:80%;
  margin: 20px auto;
  outline: 10px solid #361640;
  border: 5px solid #90a5de;
}


form > *{
  margin: 5px 0;
  font-size: 18px;
}

button:active{
  transform: translateY(2px);
}

.btn:active{
  transform: translateY(2px);
}

.not-found-page{
  display:flex;
  flex-direction: column;
  img{
      max-width: 40vw;
      align-self:center;
  }
  p{  
    color: #de8e49;
    font-size: calc(12px + 0.4vw);;
  }

  a{
      font-size: 18px;
      width:auto;
      color: #de8e49;
      max-width: 200px;
      align-self: center;
      margin-bottom: 10px;
  }

  a:hover{
      color: #8c327e;
      text-decoration: underline;
  }
}

.search-bar{
  background-color: #90a5de;
  outline: 10px solid rgb(108, 19, 86);
  border: 5px solid #361640;
  display:flex;
  flex-direction: column;
  padding: 10px;
  max-width: 40%;
  margin:10px auto;
  color: #000000;
  font-weight: bold;
  @media screen and (max-width: 900px){
    max-width: 80%;
  }
}

.saved-header{
  background-color: #90a5de;
  outline: 10px solid rgb(108, 19, 86);
  border: 5px solid #361640;
  display:flex;
  flex-direction: column;
  padding: 10px;
  max-width: 40%;
  margin:10px auto;
  color: #000000;
  font-weight: bold;
  p{
    margin-top:0px;
  }
  @media screen and (max-width: 900px){
    max-width: 80%;
  }
}

article{
  display:flex;
  flex-direction: column;
  max-width:60%;
  padding:25px;
  margin: 40px auto;
  h2{
    font-size: calc(15px + 0.7vw);
  }
  h3{
    font-size: calc(12px + 0.6vw);
  }
  h4{
    font-size: calc(11px + 0.5vw);
  }
  h2, h3, h4{
    margin:5px 0;
  }
  img{
    max-width: 90%;
  }

  @media screen and (max-width: 900px){
    max-width: 90%;
  }
}

.loading-message{
  color:white;
}

.error-message{
  color:red;
  padding-top:20px;
}